
  <manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.petemacko.exoplayerplugin.capacitorpmvideoexoplayer">
    <uses-permission android:name = "android.permission.INTERNET"/>
    <application>
      <activity android:name="org.petemacko.exoplayerplugin.ExoplayerActivity" android:configChanges="orientation|screenSize">
      </activity>
    </application>
  </manifest>
